{% import 'utils/time.html' as timeutils %}

{% macro fancy_team(team, size=24) -%}
    <img src="{{ url_for('static', filename='images/teams/%d.png' % team.team) }}" alt="{{ team.name }}" title="{{ team.name }}" width="{{ size }}" height="{{ size }}">
{%- endmacro %}

{% macro fancy_game_mode(game, size=24) -%}
    <a href="{{ url_for('.display_mode', name=game.mode_str(True)) }}"><img src="{{ url_for('static', filename='images/modes/%s.png' % game.mode_str(True)) }}" alt="{{ game.mode_str() }}" title="{{ game.mode_str() }}" width="{{ size }}" height="{{ size }}"></a>
{%- endmacro %}

{% macro fancy_mode(mode, size=24) -%}
    <a href="{{ url_for('.display_mode', name=mode.name) }}"><img src="{{ url_for('static', filename='images/modes/%s.png' % mode.mode_str(True)) }}" alt="{{ mode.mode_str() }}" title="{{ mode.mode_str() }}" width="{{ size }}" height="{{ size }}"></a>
{%- endmacro %}

{% macro fancy_mutators(game, maxlong=3) -%}
    <ul class="delim-list dash-delim-list">
        {%- for mutator in game.mutator_dict_list(maxlong) %}<li><a href="{{ url_for('.display_mutator', name=mutator.link) }}" title="{{ mutator.longname }}">{{ mutator.name }}</a></li>{%- endfor %}
    </ul>
{%- endmacro %}

{% macro fancy_weapon(weapon, size=24) -%}
    <span><img src="{{ url_for('static', filename='images/weapons/%s.png' % weapon) }}" alt="{{ weapon }}" title="{{ weapon }}" width="{{ size }}" height="{{ size }}">{{ weapon }}</span>
{%- endmacro %}

{% macro per_minute(player, value) -%}
    <span title="{{ (value / ((player.timealive|sdiv) / 60))|round(0)|int }} per minute">{{ value }}</span>
{%- endmacro %}

{% macro wid_to_player(game, wid) -%}{% if game.player_by_wid(wid) %}<span>{{ game.player_by_wid(wid).name }}</span>{% else %}<span><i>nobody</i></span>{% endif %}{%- endmacro %}

{% macro render_score(game, player) -%}
    {% if game.is_timed() %}
        <span>{{ timeutils.span(player.score / 1000, exact=True, decimal=True) }}</span>
    {% else %}
        <span>{{ per_minute(player, player.score) }}</span>
    {% endif %}
{%- endmacro %}

{% macro render_team_score(game, team) -%}
    {% if game.is_timed() %}
        <span>{{ timeutils.span(team.score / 1000, exact=True, decimal=True) }}</span>
    {% else %}
        <span>{{ team.score }}</span>
    {% endif %}
{%- endmacro %}
