{% import 'utils/redeclipse.html' as redeclipse %}
{% import 'utils/time.html' as timeutils %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Game</th>
            <th>Mode</th>
            <th>Map</th>
            <th>Server</th>
            <th>When</th>
            <th>Length</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ url_for('.display_game', gameid=game.id) }}">{{ game.id }}</a></td>
                <td>{{ redeclipse.fancy_game_mode(game) }} {% if game.mutators|length > 0 %}{{ redeclipse.fancy_mutators(game) }}{% endif %}</td>
                <td><a href="{{ url_for('.display_map', name=game.map) }}">{{ game.map }}</a></td>
                <td><a href="{{ url_for('.display_server', handle=game.server.handle) }}">{{ game.server.handle }}</a></td>
                <td>{{ timeutils.ago(game.time) }}</td>
                <td>{{ timeutils.span(game.timeplayed) }}</td>
                <td>{{ game.players|length }}</td>
            <tr>
        {% endfor %}
    </tbody>
</table>
