{% set navigation_bar = [
    ('/', 'dashboard', 'Dashboard'),
    ('/games', 'games', 'Games'),
    ('/players', 'players', 'Players'),
    ('/servers', 'servers', 'Servers'),
    ('/maps', 'maps', 'Maps'),
    ('/modes', 'modes', 'Modes'),
    ('/weapons', 'weapons', 'Weapons'),
] -%}
{% set current_display = current_display|default('dashboard') -%}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Statistics</a>
        </div>
        <ul class="nav navbar-nav">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == current_display %} class="active"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
