<ul class="pager">
    <li class="{% if not pager.has_prev %}disabled {% endif %}previous">
        {% if pager.has_prev %}
            <a href="{{ request.path }}?page={{ pager.prev_num }}">Previous</a>
        {% else %}
            <a>Previous</a>
        {% endif %}
    </li>

    <li class="{% if not pager.has_next %}disabled {% endif %}next">
        {% if pager.has_next %}
            <a href="{{ request.path }}?page={{ pager.next_num }}">Next</a>
        {% else %}
            <a>Next</a>
        {% endif %}
    </li>
</ul>
