{% extends 'base.html' %}
{% import 'utils/time.html' as timeutils %}
{% import 'utils/redeclipse.html' as redeclipse %}
{% set current_display = "dashboard" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="row">
        <h3>Last {{short}} days</h3>
        <div class="col-md-3">
            <h4>Most games</h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Games</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_by_games %}
                        <tr>
                            <td><a href="{{ url_for('.display_player', handle=player.handle) }}">{{ player.handle }}</a></td>
                            <td>{{ player.games }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Most games</h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>Games</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers_by_games %}
                        <tr>
                            <td><a href="{{ url_for('.display_server', handle=server.handle) }}">{{ server.handle }}</a></td>
                            <td>{{ server.games }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Most <span title="Damage per Minute">DPM</span></h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th><span title="Damage per Minute">DPM</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_by_dpm[:5] %}
                        <tr>
                            <td><a href="{{ url_for('.display_player', handle=player.handle) }}">{{ player.handle }}</a></td>
                            <td>{{ player.dpm|round(0)|int }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4><span title="Damage per Frag">DPF</span></h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Least <span title="Damage per Frag">DPF</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_by_dpf[:3] %}
                        <tr>
                            <td><a href="{{ url_for('.display_player', handle=player.handle) }}">{{ player.handle }}</a></td>
                            <td>{{ player.dpf|round(0)|int }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Most <span title="Damage per Frag">DPF</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_by_dpf[-2:]|reverse %}
                        <tr>
                            <td><a href="{{ url_for('.display_player', handle=player.handle) }}">{{ player.handle }}</a></td>
                            <td>{{ player.dpf|round(0)|int }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Last {{long}} days</h3>
        <div class="col-md-3">
            <h4>Most played</h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Map</th>
                        <th>Played</th>
                        <th>Games</th>
                    </tr>
                </thead>
                <tbody>
                    {% for map in maps_by_playertime %}
                        <tr>
                            <td><a href="{{ url_for('.display_map', name=map.name) }}">{{ map.name }}</a></td>
                            <td>{{ timeutils.span(map.time, maxunit="hour") }}</td>
                            <td>{{ map.games }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Most wielded</h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Weapon</th>
                        <th>Wielded</th>
                    </tr>
                </thead>
                <tbody>
                    {% for weapon in weapons_by_wielded[:5] %}
                        <tr>
                            <td>{{ redeclipse.fancy_weapon(weapon.name) }}</td>
                            <td>{{ (weapon.timewielded * 100)|round(0)|int }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Most <span title="Damage per Minute">DPM</span></h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Weapon</th>
                        <th><span title="Damage per Minute">DPM</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for weapon in weapons_by_dpm[:5] %}
                        <tr>
                            <td>{{ redeclipse.fancy_weapon(weapon.name) }}</td>
                            <td>{{ weapon.dpm|round(0)|int }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Frags / Deaths</h4>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Frags / Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players_by_kdr[:5] %}
                        <tr>
                            <td><a href="{{ url_for('.display_player', handle=player.handle) }}">{{ player.handle }}</a></td>
                            <td>{{ player.kdr|round(1) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Recent Games</h3>
        <div class="col-md-12">
            {% include 'tables/games.html' %}
            <a href="{{ url_for('.display_games') }}" class="btn btn-default pull-right">More...</a>
        </div>
    </div>
{% endblock content %}
