{% extends 'base.html' %}
{% import 'utils/redeclipse.html' as redeclipse %}
{% import 'utils/time.html' as timeutils %}
{% set current_display = "games" %}

{% block title %}Game {{game.id}}{% endblock title %}

{% block content %}
    <h3>Game {{ game.id }}</h3>
    <p>Played {{ timeutils.ago(game.time, short=False) }}.</p>
    <p><a href="{{ url_for('.display_server', handle=game.server[0].handle) }}">{{game.server[0].desc}} [{{game.server[0].handle}}] - {{game.server[0].host}}:{{game.server[0].port}}</a></p>
    <p>{{ redeclipse.fancy_mode(game, 32) }} {{ redeclipse.fancy_mutators(game, 0) }} on {{ game.map }}</p>
    {% if game.teams.count() > 1 %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for team in game.ordered_teams() %}
                    <tr>
                        <td>{{ redeclipse.fancy_team(team) }}</td>
                        <td>{{ redeclipse.render_team_score(game, team) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
                <th>Handle</th>
                <th>Alive</th>
                {% if not game.is_peaceful() %}
                    <th>Frags</th>
                {% endif %}
                <th>Deaths</th>
                {% if not game.is_peaceful() %}
                    <th>F/D Ratio</th>
                    <th>Damage</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for player in game.ordered_players() %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ redeclipse.render_score(game, player) }}</td>
                    {% if player.handle %}
                        <td><a href="{{ url_for('.display_player', handle=player.handle)}}">{{ player.handle }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ timeutils.span(player.timealive) }}</td>
                    {% if not game.is_peaceful() %}
                        <td>{{ redeclipse.per_minute(player, player.frags) }}</td>
                    {% endif %}
                    <td>{{ redeclipse.per_minute(player, player.deaths) }}</td>
                    {% if not game.is_peaceful() %}
                        <td>{{ (player.frags/(player.deaths|sdiv))|round(1) }}</td>
                        <td>{{ redeclipse.per_minute(player, player.damage()) }}</td>
                    {% endif %}
                <tr>
            {% endfor %}
        </tbody>
    </table>
    {% if game.ffarounds.count() %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Winner</th>
                    <th>Participants</th>
                </tr>
            </thead>
            <tbody>
                {% for round in game.combined_ffarounds().values() %}
                    <tr>
                        <td>{{ round.round }}</td>
                        <td>{{ redeclipse.wid_to_player(game, round.winner) }}</td>
                        <td>{%- for wid in round.players %}{% if loop.index > 1 %}; {% endif %}{{ redeclipse.wid_to_player(game, wid) }}{%- endfor %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if game.captures.count() %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Capturing</th>
                    <th>Captured</th>
                </tr>
            </thead>
            <tbody>
                {% for capture in game.captures %}
                    <tr>
                        <td>{{ redeclipse.wid_to_player(game, capture.player) }}</td>
                        <td>{{ redeclipse.fancy_team(game.teams.filter_by(team=capture.capturing).first()) }}</td>
                        <td>{{ redeclipse.fancy_team(game.teams.filter_by(team=capture.captured).first()) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if game.bombings.count() %}
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Bombing</th>
                    <th>Bombed</th>
                </tr>
            </thead>
            <tbody>
                {% for bombing in game.bombings %}
                    <tr>
                        <td>{{ redeclipse.wid_to_player(game, bombing.player) }}</td>
                        <td>{{ redeclipse.fancy_team(game.teams.filter_by(team=bombing.bombed).first()) }}</td>
                        <td>{{ redeclipse.fancy_team(game.teams.filter_by(team=bombing.bombing).first()) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
