{% extends 'base.html' %}
{% import 'utils/time.html' as timeutils %}
{% set current_display = "maps" %}

{% block title %}Map: {{ map.name }}{% endblock title %}

{% block content %}
    <h3>{{ map.name }}</h3>
    <p>First seen {{ timeutils.ago(map.first_time, False) }} with <a href="{{ url_for('.display_game', gameid=map.first_game) }}">game {{ map.first_game }}</a>, Last seen {{ timeutils.ago(map.last_time, False) }} with <a href="{{ url_for('.display_game', gameid=map.last_game) }}">game {{ map.last_game }}</a>, {{ map.game_count }} games total.</p>
    <p>Time on server: {{ timeutils.span(map.time_played, exact=True, maxunit="hour") }}, Combined player time: {{ timeutils.span(player_time, exact=True, maxunit="hour") }}</p>
    <div class="row">
        {% if top_races %}
            <div class="col-md-6">
                <h4>Top race times</h4>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Handle</th>
                            <th>Game</th>
                            <th>When</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for race in top_races %}
                            <tr>
                                <td>{{ timeutils.span(race.score / 1000, exact=True, decimal=True) }}</td>
                                <td>{{ race.name }}</td>
                                <td>{% if race.handle %}<a href="{{ url_for('.display_player', handle=race.handle) }}">{{ race.handle }}</a>{% endif %}</td>
                                <td><a href="{{ url_for('.display_game', gameid=race.game_id) }}">{{ race.game_id }}</a></td>
                                <td>{{ timeutils.ago(race.when, False) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if top_endurance_races %}
            <div class="col-md-6">
                <h4>Top endurance race times</h4>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Handle</th>
                            <th>Game</th>
                            <th>When</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for race in top_endurance_races %}
                            <tr>
                                <td>{{ timeutils.span(race.score / 1000, exact=True, decimal=True) }}</td>
                                <td>{{ race.name }}</td>
                                <td>{% if race.handle %}<a href="{{ url_for('.display_player', handle=race.handle) }}">{{ race.handle }}</a>{% endif %}</td>
                                <td><a href="{{ url_for('.display_game', gameid=race.game_id) }}">{{ race.game_id }}</a></td>
                                <td>{{ timeutils.ago(race.when, False) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {% include 'tables/games.html' %}
    <a href="{{ url_for('.display_map_games', name=map.name) }}" class="btn btn-default pull-right">More...</a>
{% endblock content %}
