{% extends 'base.html' %}
{% import 'utils/time.html' as timeutils %}
{% set current_display = "maps" %}

{% block title %}Maps{% endblock title %}

{% block content %}
    <a href="{{ url_for('.display_racemaps') }}" class="btn btn-default pull-right">Race Maps</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Map</th>
                <th>Games</th>
                <th>First Game</th>
                <th>Latest Game</th>
                <th>Top Race</th>
            </tr>
        </thead>
        <tbody>
            {% for map in pager.items %}
                <tr>
                    <td><a href="{{ url_for('.display_map', name=map.name) }}">{{ map.name }}</a></td>
                    <td>{{ map.game_count }}</td>
                    <td><a title="{{ map.first_time }} ago, {{ map.first_time|time_str }}" href="{{ url_for('.display_game', gameid=map.first_game) }}">{{ map.first_game }}</a></td>
                    <td><a title="{{ map.last_time|time_ago }} ago, {{ map.last_time|time_str }}" href="{{ url_for('.display_game', gameid=map.last_game) }}">{{ map.last_game }}</a></td>
                    {% if map.top_race != None %}
                        <td>{{ timeutils.span(map.top_race_score / 1000, exact=True, decimal=True) }} by
                        {% if map.top_race_handle != None %}
                            <a href="{{ url_for('.display_player', handle=map.top_race_handle) }}">{{ map.top_race_handle }}</a>
                        {% else %}
                            {{ map.top_race_name }}
                        {% endif %}
                        in <a href="{{ url_for('.display_game', gameid=map.top_race) }}">game {{ map.top_race }}</a></td>
                    {% else %}
                        <td><i>N/A</i></td>
                    {% endif %}
                <tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
