{% extends 'base.html' %}
{% set current_display = "players" %}

{% block title %}Players{% endblock title %}

{% block content %}
    <a href="{{ url_for('.display_activeweekdayhours') }}" class="btn btn-default pull-right">Active Weekdays + Hours</a>
    <a href="{{ url_for('.display_activeweekdays') }}" class="btn btn-default pull-right">Active Weekdays</a>
    <a href="{{ url_for('.display_activehours') }}" class="btn btn-default pull-right">Active Hours</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Player</th>
                <th>Last Name</th>
                <th>Games</th>
                <th>First Game</th>
                <th>Latest Game</th>
            </tr>
        </thead>
        <tbody>
            {% for player in pager.items %}
                <tr>
                    <td><a href="{{ url_for('.display_player', handle=player.handle) }}">{{ player.handle }}</a></td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.game_count }}</td>
                    <td><a title="{{ player.first_time|time_ago }} ago, {{ player.first_time|time_str }}" href="{{ url_for('.display_game', gameid=player.first_game) }}">{{ player.first_game }}</a></td>
                    <td><a title="{{ player.last_time|time_ago }} ago, {{ player.last_time|time_str }}" href="{{ url_for('.display_game', gameid=player.last_game) }}">{{ player.last_game }}</a></td>
                <tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
