{% extends 'base.html' %}
{% set current_display = "servers" %}

{% block title %}Servers{% endblock title %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Server</th>
                <th>Description</th>
                <th>Games</th>
                <th>First Game</th>
                <th>Latest Game</th>
            </tr>
        </thead>
        <tbody>
            {% for server in pager.items %}
                <tr>
                    <td><a href="{{ url_for('.display_server', handle=server.handle) }}">{{ server.handle }}</a></td>
                    <td>{{ server.desc }}</td>
                    <td>{{ server.game_count }}</td>
                    <td><a title="{{ server.first_time|time_ago }} ago, {{ server.first_time|time_str }}" href="{{ url_for('.display_game', gameid=server.first_game) }}">{{ server.first_game }}</a></td>
                    <td><a title="{{ server.last_time|time_ago }} ago, {{ server.last_time|time_str }}" href="{{ url_for('.display_game', gameid=server.last_game) }}">{{ server.last_game }}</a></td>
                <tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
