{% extends 'base.html' %}
{% import 'utils/time.html' as timeutils %}
{% set current_display = "servers" %}

{% block title %}Server: {{ server.handle }}{% endblock title %}

{% block content %}
    <h3>{{ server.handle }}</h3>
    <h4>{{ server.last_desc }} -- {{ server.last_host }}:{{ server.last_port }}</h4>
    <p>First seen {{ timeutils.ago(server.first_time, False) }} with <a href="{{ url_for('.display_game', gameid=server.first_game) }}">game {{ server.first_game }}</a>, Last seen {{ timeutils.ago(server.last_time, False) }} with <a href="{{ url_for('.display_game', gameid=server.last_game) }}">game {{ server.last_game }}</a>, {{ server.game_count }} games total.</p>
    {% include 'tables/games.html' %}
    <a href="{{ url_for('.display_server_games', handle=server.handle) }}" class="btn btn-default pull-right">More...</a>
{% endblock content %}
